# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
target/
build/
.gradle
out/
Dist/
/javafx/hello/HelloWorldApplication/nbproject/private/
/javafx/hello/HelloWorldApplication/dist/
node_modules


# Logs
logs/
*.log
*.log.json


# Data 
/spring/cloud/logger/elasticsearch/data/nodes
/spring/cloud/logger/elasticsearch/data/elasticsearch
/spring/cloud/devops-monitoring/grafana/data/sessions/


# Project files 
.idea/
.eclipse-pmd
edu.umd.cs.findbugs.core.prefs
edu.umd.cs.findbugs.plugin.eclipse.prefs
.classpath
.project
.settings/
.factorypath

.DS_Store

# Others
swift/Contacts App/Contacts App/ContactsData.json
xcuserdata/
